.review_section {}

.review_container {
	max-width: 980px;
}

.review_review {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -15px;
	width: auto;
}

.review_items {
	width: 100%;
	min-width: 100%;
	padding: 0 15px;
	display: none;
	height: auto;
}

.review_items:nth-child(1) {
	display: block;
}

.section_title {
	text-align: center;
	margin-top: 0;
	margin-bottom: 25px;
	font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	line-height: 1.2;
	font-size: 28px;
	text-transform: capitalize;
	color: #0A0A0A;
}

@media (min-width: 768px) {
	.review_items {
		width: 50%;
		min-width: 50%;
	}
}

.review_item_wrapper {
	padding: 15px 10px 0;
}

@media (min-width: 992px) {
	.review_item_wrapper {
		padding: 15px 15px 0;
	}
}

.review_item_wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.description {
	margin-bottom: 25px;
	padding: 30px 20px 30px;
	background-color: #fff;
	border: 1px solid #0ad8ce;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	flex-grow: 1;
}

@media (min-width: 992px) {
	.description {
		padding: 30px 45px 30px;
	}
}

.description:before,
.description:after {
	content: "";
	position: absolute;
	left: 36px;
	border: 13px solid transparent;
	border-top: 13px solid #fff;
}

.description:after {
	top: calc(100% - 1px);
}

.description:before {
	top: 100%;
	border-top-color: #0ad8ce;
}

.author_block {
	padding: 0 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.author_image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
	position: relative;
}

.author_image img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}

.author_name {
	font-size: 16px;
	font-family: "Poppins Medium", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: .02em;
	color: #0a0a0a;
	text-transform: capitalize;
}

@media (min-width:992px) {
	.author_name {
		font-size: 17px;
	}
}

.author-block .author-name+* {
	margin-top: 2px;
}

.author-block .published-data {
	font-size: 13px;
	line-height: 1.2;
	color: #0A0A0A;
}

.swiper_container {
	position: static;
	margin: 0 -10px;
	padding-top: 40px;
}

@media (min-width: 992px) {
	.swiper_container {
		margin: 0 -15px;
		padding-top: 0;
	}
}

/*
.swiper_slide {
	height: auto;
	width: 490px;
} */

.swiper {
	width: 100%;
	height: 100%;
}

.swiper_slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}