.blog_post_grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -10px;
	width: auto;
}

.category_section {
	padding: 25px 0 60px;
}

@media (min-width: 1200px) {
	.category_section {
		padding: 25px 0 80px;
	}
}

.section-title {
	margin-bottom: 15px;
	text-align: center;
	margin-top: 0;
	font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: normal;
	line-height: 1.2;
	font-size: 28px;
	text-transform: capitalize;
	color: #0a0a0a;
}

@media (min-width: 768px) {
	.section_title {
		margin-bottom: 25px;
	}
}

.category_description {
	margin-bottom: 30px;
}

@media (min-width: 768px) {
	.category_description {
		margin-bottom: 50px;
	}
}