.wrapper_box {
	max-width: 600px;
	margin: 0 auto 30px;
}

@media (min-width: 768px) {
	.wrapper_box {
		margin: 0 auto 35px;
	}
}

.section_title {
	text-align: center;
	margin-bottom: 0;
}

.section_title+* {
	margin-top: 10px;
}

.section_title {
	text-align: center;
	margin-top: 0;
	margin-bottom: 25px;
	font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	line-height: 1.2;
	font-size: 28px;
	text-transform: capitalize;
	color: #0A0A0A;
}

.section_sub_title {
	text-align: center;
}

.about_slide_grid_item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: 30px;
}

@media (min-width: 992px) {
	.about_slide_grid_item {
		margin-bottom: 59px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.about_slide_grid_item:nth-child(even) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}

	.about_slide_grid_item:nth-child(even) .item_info {
		padding: 20px 75px 20px 0;
	}
}

@media (min-width: 992px) and (min-width: 1200px) {
	.about_slide_grid_item:nth-child(even) .item_info {
		padding: 20px 90px 20px 0;
	}
}

.about_slide_grid_item:last-child {
	margin-bottom: 0;
}

.about_slide_grid_item .img {
	display: block;
	padding-top: 68%;
	position: relative;
	margin: 0 -15px;
	will-change: transform;
	transition: transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	overflow: hidden;
}

@media (min-width: 992px) {
	.about_slide_grid_item .img {
		width: 48.5%;
		min-width: 48.5%;
		padding-top: 30.5%;
		margin: 0;
	}
}

.img img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	will-change: transform;
	transition: transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.item_info {
	position: relative;
	padding: 20px 0 0;
	z-index: 1;
}

@media (min-width: 992px) {
	.item_info {
		width: 51.5%;
		min-width: 51.5%;
		padding: 20px 0 20px 90px;
	}
}

@media (min-width: 1200px) {
	.item_info {
		padding: 20px 0 20px 75px;
	}
}

.title {
	position: relative;
	margin-bottom: 10px;
	font-family: "Poppins Bold", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 22px;
	line-height: 1.3;
	color: #0ad8ce;
	text-align: left;
	letter-spacing: 0.03em;
}

@media (min-width: 768px) {
	.title {
		font-size: 26px;
		margin-bottom: 13px;
	}
}

@media (min-width: 1200px) {
	.title {
		font-size: 28px;
	}
}

.description {
	font-size: 16px;
	line-height: 1.4;
}

@media (min-width: 992px) {
	.description {
		font-size: 17px;
	}
}

@media (min-width: 992px) {
	.description {
		font-size: 18px;
	}
}